

.navbar{
    height: 9vh;
    background: linear-gradient(45deg,red,blue);
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}

.navbar .title{
    margin-left:30px ;
    padding: 20px;
    color: white;
}



.add-btn, .home-btn{
    margin-right:30px;
    padding:10px;
    display: flex;
    align-items: center;
}

.add-btn img, .home-btn img{
    width:30px;
    height: 30px;
    color:white;
    cursor: pointer;
}

.add-btn span, .home-btn span {
    margin-left: 4px;
    padding: 4px;
    font-size: large;
    color: white;
}

.rightNav{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
